body{background:#fff;font-size:12px;font-family:宋体,Arial,Verdana;line-height:24px; overflow:auto;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
html,body{overflow:hidden;}
ul,ol,li{list-style:none;}

a{color:#00f; cursor:pointer; text-decoration:none;}
a:hover{color:#00f;}

.txt{height:20px;*height:20px;_height:20px;height:20px \9;padding:0 2px;line-height:20px;font-family:宋体,Arial,Verdana;border:solid 1px #c2c5d2;background:#fff url("../imgs/common/form/txt_bg.png") repeat-x;resize:vertical;}
.txt:hover,.txt-focus{height:20px;*height:20px;_height:20px;height:20px \9;padding:0 2px;line-height:20px;font-family:宋体,Arial,Verdana;border:solid 1px #7eadd9;background:#fff url("../imgs/common/form/txt_bg.png") repeat-x;}
.txt-label{height:20px;padding:0 2px;line-height:20px;font-family:宋体,Arial,Verdana;border:none;background:transparent;}
.txt-label:hover{border:none;}
.txt-select,.txt-select-edit{cursor:default; height:22px;*height:21px;_height:21px;height:21px \9;padding:0 2px;padding-right:22px;line-height:20px;font-family:宋体,Arial,Verdana;border:solid 1px #c2c5d2;background:#fff url("../imgs/common/form/txt_select_bg.png") no-repeat right 0;}
.txt-select:hover,.txt-select-edit:hover{border:solid 1px #7eadd9; height:22px;*height:21px;_height:21px;height:21px \9;padding:0 2px;padding-right:22px;background:url("../imgs/common/form/txt_select_bg.png") no-repeat right -25px;}
.select{height:22px;padding:0 2px;*padding:0;_padding:0;padding:0 \9;line-height:20px;border:solid 1px #c2c5d2;font-family:Arial,Verdana,宋体;margin:0;background:#fff url("../imgs/common/form/txt_bg.png") repeat-x;}
.select20{height:20px;padding:0 2px;*padding:0;_padding:0;padding:0 \9;line-height:18px;border:solid 1px #c2c5d2;font-family:Arial,Verdana,宋体;margin:0;background:#fff url("../imgs/common/form/txt_bg.png") repeat-x;}
.pwd,.pwd:hover{font-family:Arial; }
.file{height:22px;padding:0; border:solid 1px #c2c5d2;background:#fff url("../imgs/common/form/txt_bg.png") repeat-x;}

.txt-select20{cursor:default; height:20px;*height:19px;_height:19px;height:19px \9;padding:0 2px;padding-right:22px;line-height:20px;font-family:宋体,Arial,Verdana;
    border:solid 1px #c2c5d2;background:#fff url("../imgs/common/form/txt_select_bg.png") no-repeat right -1px;}
.txt-select20:hover{border:solid 1px #7eadd9; height:20px;*height:19px;_height:19px;height:19px \9;padding:0 2px;padding-right:22px;
    background:url("../imgs/common/form/txt_select_bg.png") no-repeat right -26px;}

.a-text{display:block; color:#000; line-height:18px; padding:0 3px; cursor:default;}
/*被选中的文本*/
.a-text-selected,.a-text-selected:hover,.a-text:hover{background:#0a246a;color:#fff; display:block; line-height:18px; padding:0 3px; cursor:default;}


/*单行省略显示(需要指定宽度)*/
.ellipsis{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/*多行省略显示，此处为显示1行*/
.ellipsis-multi{display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}

input.fixsize{resize:none;}
textarea.fixsize{resize:none;}

.num{text-align:center;}

.btn-hide{visibility:hidden;width:0;height:0;}

#pageBody{background:#dfe8f6;}

#bodyLeft{width:200px;float:left;display:block;background:#f8f8f8;height:100%;border:solid 1px #99bbe8;}
#bodyMain{width:auto;float:left;display:block;background:#fff;height:100%;border:solid 1px #99bbe8; position:relative;}
#bodyRight{width:150px;float:right;display:block;background:#f8f8f8;height:100%;border:solid 1px #99bbe8;}
#mainContent{background:#fff;}

/*左栏、右栏切换开关*/
#bodyLeftSwitch{width:5px;float:left;cursor:pointer;margin:0;padding:0;}
#bodyRightSwitch{width:5px;float:left;cursor:pointer;margin:0;padding:0;}
.switch-left{background:#dfe8f6 url("../imgs/common/frame/switch-left-right.png") no-repeat 0 center;}
.switch-left:hover{background:#dfe8f6 url("../imgs/common/frame/switch-left-right.png") no-repeat -5px center;}
.switch-right{background:#dfe8f6 url("../imgs/common/frame/switch-left-right.png") no-repeat -15px center;}
.switch-right:hover{background:#dfe8f6 url("../imgs/common/frame/switch-left-right.png") no-repeat -10px center;}

#bodyTitle{height:24px; margin:0; padding:0; display:block; overflow:hidden; border-bottom:solid 1px #99bbe8; background:#dbebfe url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;}
#bodyContent{background:#fff; overflow:auto; padding:0; margin:0;}
#bodyContent .form{padding:5px 10px; overflow:auto;}
#bodyBottom{height:24px; border-top:solid 1px #99bbe8; line-height:24px; clear:both; overflow:hidden; padding:2px 0 1px; display:block;
    background:#dbebfe url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;  width:100%;}

.treebox{overflow:auto;line-height:18px;}
.tree{padding:5px 3px 15px 3px;}

#bodyTitle .title{float:left;padding:0 10px; display:block;}
#bodyTitle .tools{float:right; padding:1px 0 0; display:block;}
#bodyTitle .tools a{margin:0 0 0 3px; float:left;}
#bodyTitle .tools span,#bodyTitle .tools input{float:left;}
#bodyTitle .reload{float:right; text-indent:0; padding:1px 3px 0 0;}

#bodyBottom .pagination{}
#bodyBottom .panel-left{}
#bodyBottom .panel-right{}

/*表单内容*/
#formBody{margin:0;padding:0; overflow:auto;}

#formBody #formBox{margin:0;padding:0; overflow:auto;}
#formContent{}

/*表单底部*/
#formBottom{position:absolute;bottom:0;left:0; width:100%; height:32px; padding:0; padding-top:5px; border-top:solid 1px #99bbe8; margin:0 auto; text-align:center; background:#dbebfe url("../imgs/common/title/title_bg52.png") repeat-x; }


.switch{float:right;width:15px;height:15px;display:block;cursor:pointer;margin:5px 5px 0;}
.sw-open{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -255px;}
.sw-open:hover{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat -15px -255px;}
.sw-close{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -240px;}
.sw-close:hover{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat -15px -240px;}
.sw-up{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -210px;}
.sw-up:hover{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat -15px -210px;}
.sw-down{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -195px;}
.sw-down:hover{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat -15px -195px;}
.sw-left{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -180px;}
.sw-left:hover{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat -15px -180px;}
.sw-right{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -165px;}
.sw-right:hover{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat -15px -165px;}

/*标题栏*/
.titlebar{width:100%; height:24px; border-bottom:solid 1px #99bbe8; line-height:24px; clear:both; overflow:hidden;
	background:#dbebfe url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;}
.titlebar .title{float:left; padding:0 6px; display:block;}
.border-top{border-top:solid 1px #99bbe8;}

/*标题栏 工具栏*/
.titlebar .tools{float:right; padding-right:3px; overflow:hidden; width:auto; display:inline-block;}
.titlebar .tools .btn,.titlebar .tools .ibtn{margin-left:3px;}

/*项目标题栏*/
.itembar,.item-title{height:26px; line-height:26px;border:solid 1px #99bbe8; clear:both; padding:0; margin:0; overflow:hidden; display:block;
            background:#dfe8f6 url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;}
.itembar .title,.item-title .title{float:left; padding:0 6px; display:block;}
/*项目内容*/
.item-content{border:solid 1px #99bbe8; border-top:none; clear:both; padding:5px; margin:0; overflow:hidden; display:block;}

/*状态栏*/
.statusbar{width:100%; height:23px;line-height:23px;border-top:solid 1px #99bbe8;display:block; overflow:hidden;
           background:#d4e1f2 url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;}
.statusbar{padding:2px 0 0 0;}
.statusbar-h30{width:100%;height:26px; padding:3px 0 0; border-top:solid 1px #99bbe8;display:block;
               background:#dbebfe url("../imgs/common/title/title_bg200.png") repeat-x;}
.statusbar-h52{width:100%;height:48px; padding:3px 0 0; border-top:solid 1px #99bbe8;display:block;
               background:#dbebfe url("../imgs/common/title/title_bg200.png") repeat-x;}

.pagination{display:block; margin:0 5px 0 2px;}
.loading{display:block; float:right; margin:0 5px;}
.loading-message{display:block; padding:0 3px 0 23px; background:url("../imgs/common/icon/loading.gif") no-repeat 2px 2px;}
.loading-coffee{display:block; height:26px; line-height:26px; padding:0 3px 0 30px; background:url("../imgs/common/icon/coffee.gif") no-repeat 2px 2px;}

/*操作面板栏*/
.operbar{height:26px; line-height:24px;border-bottom:solid 1px #99bbe8; clear:both; padding:0; overflow:hidden; text-align:right;
         background:#dfe8f6 url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;}
.operbar input,.operbar select,.operbar span,.operbar a{float:left; margin:2px 0 0 0;}
.operbar .formpanel{float:left; padding-left:3px; _width:auto;}
.operbar .rightpanel{float:right; padding-right:3px; _width:auto;}
.operbar-h52{height:52px; background:#dbebfe url("../imgs/common/title/title_bg200.png") repeat-x;}
.operbar .title{float:left; padding:0 6px; display:block;}

.operform{height:auto; min-height:24px; padding:2px 5px 0; clear:both; overflow:hidden; border-bottom:solid 1px #99bbe8;
           background:#dfe8f6 url("../imgs/common/title/title_bg200.png") repeat-x;}
.operform a,.operform input,.operform select,.operform span{float:left; overflow:hidden;}
.operform .formpanel{float:left; _width:auto;}
.operform .rightpanel{float:right;}
.operform span{margin:0;}
.operform a{margin-left:5px;}

/*原首页图形菜单*/
.menulist{}
.menutitle{height:24px; line-height:24px; clear:both; display:block; color:#000; border-bottom:solid 1px #99bbe8; 
           background:#dbebfe url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;}
.menutitle span{padding:0 5px 0 6px; float:left;}
.menutitle:hover{color:#000;}

.menutitle .sw-close,.menutitle .sw-open,.menutitle i{ float:right; width:15px; height:15px; display:block; float:right; margin:5px 5px 0 0; 
	background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -240px;}
.menutitle .sw-open{background:url("../imgs/common/toolbar/tool-sprites.gif") no-repeat 0 -255px;}
.menutitle:hover i{background-position:-15px -240px;}
.menutitle:hover .sw-open{background-position:-15px -255px;}

.menulist ul{display:none;}
/*若不固定高度，则当文字超出一行时，可以换行显示*/
.menulist li{/*height:24px;*/ line-height:24px; line-height:24px;}
.menulist li a{padding:0 0 0 6px; color:#000; display:block; }
.menulist li a:hover{color:#000; background:#99bbe8;}
.menulist .cur{color:#fff; background:#124196;}
.menulist .cur:hover{color:#555; background:#99bbe8;}

/*TAB栏*/
.tabpanelbox{overflow:hidden; float:left;}
.tabpanelbottom{width:100%; height:5px; clear:both; display:block; background:url("../imgs/common/tab/tab.png") repeat-x 0 bottom;}
.tabpanel{margin:0; padding:0; padding-top:2px; height:22px; overflow:hidden; border-bottom:solid 1px #99bbe8; 
	clear:both; _clear:none; _width:auto; background:#dbebfe url("../imgs/common/title/title_bg.png") repeat-x 0 -96px;}
.tabpanel .tab,.tabpanel .tab-c{float:left; display:inline-block; height:22px; line-height:22px; padding:0; padding-right:0; margin:0; margin-left:3px; text-decoration:none;
	overflow:hidden; color:#416aa3; width:auto;background:url("../imgs/common/tab/tab.png") right -72px;_background:url("../imgs/common/tab/tab.gif") right -72px;
	-moz-user-select:none; -khtml-user-select:none;	user-select:none;}
.tabpanel .tab-c{padding-right:0px;}
.tabpanel .tab:hover,.tabpanel .tab-c:hover{background:url("../imgs/common/tab/tab.png") right -96px;_background:url("../imgs/common/tab/tab.gif") right -96px;}
.tabpanel .cur,.tabpanel .cur-c,.tabpanel .cur:hover,.tabpanel .cur-c:hover{float:left; display:inline-block; height:22px; line-height:21px; padding:0; padding-right:0;
    margin:0; margin-left:3px; text-decoration:none; overflow:hidden; color:#15428b; font-weight:bold; width:auto;
    background:url("../imgs/common/tab/tab.png") right -120px; _background:url("../imgs/common/tab/tab.gif") right -120px;}
.tabpanel .cur-c,.tabpanel .cur-c:hover{padding-right:0px;}
.tabpanel .tab span,.tabpanel .tab-c span{display:inline-block; float:left; margin:0; padding:0; padding-left:10px; padding-top:1px; height:21px; overflow:hidden;
    background:url("../imgs/common/tab/tab.png") left 0;_background:url("../imgs/common/tab/tab.gif") left 0;}
.tabpanel .tab:hover span,.tabpanel .tab-c:hover span
{display:inline-block; margin:0; padding:0; padding-left:10px; padding-top:1px; height:21px;background:url("../imgs/common/tab/tab.png") left -24px;_background:url("../imgs/common/tab/tab.gif") left -24px;}
.tabpanel .cur span,.tabpanel .cur-c span,.tabpanel .cur:hover span,.tabpanel .cur-c:hover span
{background:url("../imgs/common/tab/tab.png") left -48px; display:inline-block; margin:0; padding:0; padding-left:10px; padding-top:1px; height:21px;}
.tabpanel .tab-c .c,.tabpanel .cur-c .c{font-style:normal; height:12px; width:12px; line-height:12px; margin:4px 4px 0 6px; display:inline-block; cursor:default; overflow:hidden;
	background:url("../imgs/common/tab/tab.png") no-repeat -20px -72px; _background:url("../imgs/common/tab/tab.gif") no-repeat -20px -72px; }
.tabpanel .tab-c .c:hover,.tabpanel .cur-c .c:hover{font-weight:bold; background:url("../imgs/common/tab/tab.png") no-repeat -20px -96px; _background:url("../imgs/common/tab/tab.gif") no-repeat -20px -96px;}
.tabpanel .tab span,.tabpanel .cur span,.tabpanel .tab:hover span,.tabpanel .cur:hover span{margin-right:10px;}

.tab-scroll-left{width:15px; height:24px; float:left; display:block; overflow:hidden; border-right:solid 1px #99bbe8;
    background:url("../imgs/common/tab/tab.png") no-repeat -35px -120px;_background:url("../imgs/common/tab/tab.gif") no-repeat -35px -120px; }
.tab-scroll-left:hover{background:url("../imgs/common/tab/tab.png") no-repeat -20px -120px;_background:url("../imgs/common/tab/tab.gif") no-repeat -20px -120px;}
.tab-scroll-right{width:15px; height:24px; float:right; display:block; overflow:hidden; border-left:solid 1px #99bbe8;
    background:url("../imgs/common/tab/tab.png") no-repeat -50px -120px;_background:url("../imgs/common/tab/tab.gif") no-repeat -50px -120px; }
.tab-scroll-right:hover{background:url("../imgs/common/tab/tab.png") no-repeat -65px -120px;_background:url("../imgs/common/tab/tab.gif") no-repeat -65px -120px;}

.tabcontent{overflow:auto;}
.tabcontent .tabcon{padding:10px; display:none;}

/*复选框按钮*/
.chb-lable,.chb-lable-nobg{height:22px; width:auto; display:inline-block; margin:0;
	background:url("../imgs/common/button/btn.png") no-repeat 0 -30px; padding:0 0 0 2px;}
.chb-lable span,.chb-lable-nobg span{height:20px; display:inline-block; float:right; border:none; line-height:20px; *line-height:20px; line-height:20px \9; cursor:default; 
	margin:0; padding:2px 5px 0 1px; _width:auto; background:url("../imgs/common/button/btn.png") no-repeat right 0; }
.chb-lable .chb,.chb-lable-nobg .chb{float:left; _width:auto; line-height:22px; margin:5px 3px 0 !important; margin:1px 0 0 \9 !important; *margin:1px 0 0 !important; _margin:3px 3px 0 0}

.chb-lable-nobg{background:none;_margin:0;_padding:0;}
.chb-lable-nobg span{background:none; width:auto; display:inline-block; float:right; border:none; line-height:20px; *line-height:20px; line-height:20px \9;}
.chb-lable-nobg .chb{}

/*不可用的复选框 用DIV做个样子*/
.chb-disabled{width:11px; height:11px; border:solid 1px #cac8bb; display:inline-block; overflow:hidden;}

.disabled{color:#aca899; text-shadow:1px 1px white;}
.disabled span{color:#aca899; text-shadow:1px 1px white;}

/*表单表格*/
.tbform{border-collapse:collapse;}
.tbform td{height:30px; line-height:24px; padding:2px 0;}
.tbform td em{color:#f00; font-weight:normal; font-style:normal; font-family:宋体,Arial;}

.tbform td .calendar{width:20px; height:20px; background:url("../imgs/common/form/calendar.gif") no-repeat center; display:inline-block;}


.tbform td.valign{vertical-align:top; padding-top:0; line-height:20px;}
.tbform td.va-top{vertical-align:top; padding-top:0; line-height:20px;}


.listbox{margin:0; overflow:hidden; clear:both; padding:0;}
.listbox{clear:both;}
.listheader{height:24px;background:url("../imgs/common/title/title_bg.png") repeat-x 0 -24px; line-height:24px; font-weight:normal;overflow:hidden;}
.list{overflow:auto;}

.thead{}
.tbody{}

/*表格*/
.tbheader{width:100%;border-collapse:collapse;background:Transparent;color:#555;text-align:center;}
.tbheader td,.tbheader th{border:solid 1px #eee; height:24px;}

/*数据列表*/
.tblist{border-collapse:collapse; margin:0; width:100%; background:#fff; border:solid 1px #c4d8ed; cursor:default;}
.tblist td{line-height:22px; height:22px; border:solid 1px #d9e4ef; text-align:center; cursor:default;}
.tblist th{}
.tblist th a{font-weight:normal;}
.tblist em{color:#999; font-weight:normal; font-style:normal;}
.tblist i{}
.tblist .mrr10{margin-right:10px;}
.tblist td .m-row{line-height:18px;}

.tblist .trheader{ height:24px; line-height:24px; margin:0 auto 0 5px; color:#004e98; 
	/*background:#98c0f4 url("../imgs/common/title/table_header_bg.png") repeat-x 0 0;*/ }
.tblist .trheader-2{ height:35px; line-height:16px; margin:0 auto 0 5px; color:#004e98;
	background:#98c0f4 url("../imgs/common/title/table_header_bg.png") repeat-x 0 0; }
.tblist .trheader th,.tblist .trheader td{border:solid 1px #d9e4ef; background:#98c0f4 url("../imgs/common/title/table_header_bg.png") repeat-x 0 0;}
.tblist .trheader span{line-height:16px;}
.tblist .row{color:#006; text-align:center;}
.tblist .row td{border:solid 1px #d9e4ef;}
.tblist .alternating{background:#f6f9fd; text-align:center;}
.tblist .alternating td{border:solid 1px #d9e4ef;}
.tblist .selected{background:#d8e8fc; text-align:center;}
.tblist .selected a{}
.tblist .hover{background:#ecf4fd; text-align:center;}
.tblist .hover a{}
.tblist a{display:inline-block; padding:0 2px;}

.tblist .con{text-align:left;word-break:break-all;padding:0 5px;line-height:18px;}
.tblist .info{overflow:auto; text-align:left; word-break:break-all; padding:0 5px; line-height:20px;}
.tblist .multi-row{word-break:break-all;padding:2px 0; line-height:18px;}

/*单行省略显示(需要指定宽度)*/
.tblist .ellipsis{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/*多行省略显示，此处为显示1行*/
.tblist .ellipsis-multi
{
    display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical;
    *height:22px; line-height:22px;
}

.tblist .footer{background:#fff; color:#006;}
.tblist .pager{text-decoration:none; color:#f50; font-weight:bold;}
.tblist .pager a{text-decoration:underline; color:#00f; font-weight:bold;padding:0 6px; display:inline-block;}

.tblist .tree{text-align:left; padding:0 3px; margin:0;}

.tblist .oper-cell{padding:0 3px; clear:both; overflow:hidden; width:auto; float:left;}
.tblist .oper-cell a,.tblist .oper-cell input,.tblist .oper-cell span{float:left;margin:0;padding:0;}
.tblist .oper-cell a{margin:0;padding:0;}
.tblist .oper-cell span{margin:0;padding:0;}

.tbeditor{}
.tbeditor td{}
.tbeditor td span{height:20px;}
.tbeditor td.valign{vertical-align:top; padding-top:0; line-height:20px;}
.tbeditor td.va-top{vertical-align:top; padding-top:0; line-height:20px;}

.tblist .btn{padding:0; padding-left:5px;}
.tblist .btn span{}

.tbinfo{border-collapse:collapse;}
.tbinfo td,.tbinfo th{border:solid 1px #ddd; padding-left:5px; height:24px;}
.tbinfo .td-txt{background:#f8f8f8;}

.tbstat{border-collapse:collapse;}
.tbstat th,.tbstat td{border:solid 1px #ddd; padding:0 3px; height:24px; text-align:center;}
.tbstat .trheader th,.tbstat .trheader td{border:solid 1px #d9e4ef; background:#98c0f4 url("../imgs/common/title/table_header_bg.png") repeat-x 0 0;}
.tbstat .trheader span{line-height:16px;}

.tbstat th{font-weight:normal;}
.tbstat td{}
.tbstat td b{font-weight:normal;padding:0 3px;}
.tbstat td i{font-weight:normal; font-style:normal;padding:0 3px; color:#999;}

.tbstat .alternating{background:#f6f9fd; text-align:center;}
.tbstat .alternating td{border:solid 1px #d9e4ef;}
.tbstat .selected{background:#d8e8fc; text-align:center;}
.tbstat .selected a{}
.tbstat .hover{background:#ecf4fd; text-align:center;}
.tbstat .hover a{}

/*按钮*/
.btn{height:22px; padding:0; padding-left:5px; line-height:22px; font-family:宋体,Arial,Verdana; border:none 0; text-align:center; color:#000; 
	text-decoration:none; display:inline-block; cursor:pointer; background:url("../imgs/common/button/btn.png") no-repeat scroll left -30px transparent;}
.btn span{margin:0; padding:0; padding-right:5px; line-height:22px; font-family:宋体,Arial,Verdana; border:none 0; color:#000; 
	display:block; background:url("../imgs/common/button/btn.png") no-repeat scroll right 0 transparent; float:right; *float:none; _float:none; border:none 0;}
.btn span.auto{padding:0 10px 0 5px;}

.btn span.p10{padding:0; padding-right:10px; padding-left:5px;}
.btn span.p15{padding:0; padding-right:15px; padding-left:10px;}

.btnc22{height:22px; background-position:left -30px;}
.btn22,.btnc22:hover{height:22px; background-position:left -90px;}
.btnc22 span{line-height:22px; background-position:right 0;}
.btn22 span,.btnc22:hover span{line-height:22px; background-position:right -60px;}

.btnc24{height:24px; line-height:24px; background-position:left -150px;}
.btn24,.btnc24:hover{height:24px; background-position:left -210px;}
.btnc24 span{line-height:24px; background-position:right -120px;}
.btn24 span,.btnc24:hover span{line-height:24px; background-position:right -180px;}

.btnc26{height:26px; line-height:26px; background-position:left -270px;}
.btn26,.btnc26:hover{height:26px; background-position:left -330px;}
.btnc26 span{line-height:26px; background-position:right -240px;}
.btn26 span,.btnc26:hover span{line-height:26px; background-position:right -300px;}

.btnc30{height:30px; line-height:30px; background-position:left -390px;}
.btn30,.btnc30:hover{height:30px; background-position:left -450px;}
.btnc30 span{line-height:30px; background-position:right -360px;}
.btn30 span,.btnc30:hover span{line-height:30px; background-position:right -420px;}

.btnform{height:26px; line-height:26px; background-position:left -270px;}
.btnform:hover{background-position:left -330px;}
.btnform span{padding:0; padding-right:15px; padding-left:10px; line-height:26px; background-position:right -240px;}
.btnform:hover span{background-position:right -300px;}

/*搜索按钮*/
.btnsearch{width:52px; background:url("../imgs/common/button/search.png") no-repeat -2px 0; float:left; padding:0;border-right:solid 1px #c2c5d2;}
.btnsearch:hover{width:52px;background:url("../imgs/common/button/search.png") no-repeat -2px -22px;}
.btnsearch55{width:55px; background:url("../imgs/common/button/search.png") no-repeat 0 0; padding:0; border-right:solid 1px #c2c5d2;}
.btnsearch55:hover{width:55px;background:url("../imgs/common/button/search.png") no-repeat 0 -22px;}
.btnsearch65{width:65px; background:url("../imgs/common/button/search.png") no-repeat 0 0; padding:0;}
.btnsearch65:hover{width:65px;background:url("../imgs/common/button/search.png") no-repeat 0 -22px;}
/*取消搜索*/
.btnsearch-cancel{width:22px; background:url("../imgs/common/button/search_button.png") no-repeat -53px 0; padding:0;}
.btnsearch-cancel:hover{width:22px; background:url("../imgs/common/button/search_button.png") no-repeat -53px -22px;}
/*搜索栏复选框*/
.btnsearch-chb{width:23px; margin:1px 0 0 1px; float:left; width:17px; height:18px; padding:4px 0 0 6px; background:url("../imgs/common/button/search_button.png") no-repeat 0 0;}
.btnsearch-chb input{margin:0; padding:0; display:block; width:14px; height:14px; _height:14px;}
/*搜索树菜单*/
.btnsearch-menu{width:30px; background:url("../imgs/common/button/search_button.png") no-repeat -23px 0; padding:0; border-right:solid 1px #c2c5d2;}
.btnsearch-menu:hover{width:30px; background:url("../imgs/common/button/search_button.png") no-repeat -23px -22px;}

/*ICON图标按钮*/
.ibtn{width:25px; height:22px; border:none 0; padding:0; margin:0; line-height:22px; text-decoration:none; cursor:pointer;
	display:inline-block; background:url("../imgs/common/button/ibtn.png") no-repeat 0 0; color:#000; text-align:center; }
.ibtn:hover{background:url("../imgs/common/button/ibtn.png") no-repeat 0 -22px; color:#000;}
.btn i,.ibtn i{margin:0; padding:0; width:25px; height:22px; line-height:22px; font-family:宋体,Arial,Verdana; border:none 0; color:#000; 
	display:block; overflow:hidden; background-image:url("../imgs/common/button/icon.png"); background-repeat:no-repeat; _background-image:url("../imgs/common/button/icon.gif");}
.btn i{float:left;margin-left:-3px; margin-right:2px;}
.btn span i{margin-right:2px;}

.icon{width:25px; height:22px; border:none 0; padding:0; margin:0; line-height:22px; text-decoration:none; cursor:default; display:inline-block;}
.icon i{margin:0; padding:0; width:25px; height:22px; border:none 0;display:block; overflow:hidden;
	 background-image:url("../imgs/common/button/icon.png"); background-repeat:no-repeat; _background-image:url("../imgs/common/button/icon.gif");}

/*第一行*/
.icon-config{background-image:url("../imgs/common/button/icon.png"); background-position:0 0;}
.icon-debug{background-image:url("../imgs/common/button/icon.png"); background-position:-25px 0;}
.icon-play{background-image:url("../imgs/common/button/icon.png"); background-position:-50px 0;}
.icon-stop{background-image:url("../imgs/common/button/icon.png"); background-position:-75px 0;}
.icon-history{background-image:url("../imgs/common/button/icon.png"); background-position:-100px 0;}
.icon-refresh{background-image:url("../imgs/common/button/icon.png"); background-position:-125px 0;}
.icon-return{background-image:url("../imgs/common/button/icon.png"); background-position:-150px 0;}
.icon-search{background-image:url("../imgs/common/button/icon.png"); background-position:-175px 0;}
.icon-download{background-image:url("../imgs/common/button/icon.png"); background-position:-200px 0;}
.icon-hide{background-image:url("../imgs/common/button/icon.png"); background-position:-225px 0;}
.icon-clock{background-image:url("../imgs/common/button/icon.png"); background-position:-250px 0;}
.icon-calendar{background-image:url("../imgs/common/button/icon.png"); background-position:-275px 0;}
.icon-excel{background-image:url("../imgs/common/button/icon.png"); background-position:-300px 0;}
.icon-capture{background-image:url("../imgs/common/button/icon.png"); background-position:-325px 0;}
.icon-warning{background-image:url("../imgs/common/button/icon.png"); background-position:-350px 0;}
.icon-donot{background-image:url("../imgs/common/button/icon.png"); background-position:-375px 0;}

/*第二行*/
.icon-add{background-image:url("../imgs/common/button/icon.png"); background-position:0 -22px;}
.icon-edit{background-image:url("../imgs/common/button/icon.png"); background-position:-25px -22px;}
.icon-delete{background-image:url("../imgs/common/button/icon.png"); background-position:-50px -22px;}
.icon-up{background-image:url("../imgs/common/button/icon.png"); background-position:-75px -22px;}
.icon-down{background-image:url("../imgs/common/button/icon.png"); background-position:-100px -22px;}
.icon-import{background-image:url("../imgs/common/button/icon.png"); background-position:-125px -22px;}
.icon-export{background-image:url("../imgs/common/button/icon.png"); background-position:-150px -22px;}
.icon-update{background-image:url("../imgs/common/button/icon.png"); background-position:-175px -22px;}
.icon-upload{background-image:url("../imgs/common/button/icon.png"); background-position:-200px -22px;}
.icon-display{background-image:url("../imgs/common/button/icon.png"); background-position:-225px -22px;}
.icon-fullscreen{background-image:url("../imgs/common/button/icon.png"); background-position:-250px -22px;}
.icon-exitfull{background-image:url("../imgs/common/button/icon.png"); background-position:-275px -22px;}
.icon-zoomin{background-image:url("../imgs/common/button/icon.png"); background-position:-300px -22px;}
.icon-zoomout{background-image:url("../imgs/common/button/icon.png"); background-position:-325px -22px;}
.icon-error{background-image:url("../imgs/common/button/icon.png"); background-position:-350px -22px;}
.icon-right{background-image:url("../imgs/common/button/icon.png"); background-position:-375px -22px;}

/*第三行*/
.icon-grab{background-image:url("../imgs/common/button/icon.png"); background-position:0 -44px;}
.icon-eraser{background-image:url("../imgs/common/button/icon.png"); background-position:-25px -44px;}
.icon-measure{background-image:url("../imgs/common/button/icon.png"); background-position:-50px -44px;}
.icon-marquee{background-image:url("../imgs/common/button/icon.png"); background-position:-75px -44px;}
.icon-polygon{background-image:url("../imgs/common/button/icon.png"); background-position:-100px -44px;}

.icon-earth{background-image:url("../imgs/common/button/icon.png"); background-position:-350px -44px;}
.icon-help{background-image:url("../imgs/common/button/icon.png"); background-position:-375px -44px;}

/*第四行*/
.icon-save{background-image:url("../imgs/common/button/icon.png"); background-position:0 -66px;}
.icon-cd{background-image:url("../imgs/common/button/icon.png"); background-position:-25px -66px;}
.icon-print{background-image:url("../imgs/common/button/icon.png"); background-position:-50px -66px;}
.icon-edit{background-image:url("../imgs/common/button/icon.png"); background-position:-75px -66px;}
.icon-lock{background-image:url("../imgs/common/button/icon.png"); background-position:-100px -66px;}
.icon-unlock{background-image:url("../imgs/common/button/icon.png"); background-position:-125px -66px;}
.icon-copy{background-image:url("../imgs/common/button/icon.png"); background-position:-150px -66px;}
.icon-brush{background-image:url("../imgs/common/button/icon.png"); background-position:-175px -66px;}
.icon-report{background-image:url("../imgs/common/button/icon.png"); background-position:-200px -66px;}
.icon-link{background-image:url("../imgs/common/button/icon.png"); background-position:-225px -66px;}
.icon-table{background-image:url("../imgs/common/button/icon.png"); background-position:-250px -66px;}


.icon-word{background-image:url("../imgs/common/button/icon.png"); background-position:-300px -66px;}
.icon-saveto{background-image:url("../imgs/common/button/icon.png"); background-position:-325px -66px;}
.icon-paste{background-image:url("../imgs/common/button/icon.png"); background-position:-350px -66px;}
.icon-horn{background-image:url("../imgs/common/button/icon.png"); background-position:-375px -66px;}

/*icon_gis.png*/
.map-toolbar i{margin:0; padding:0; width:25px; height:22px; line-height:22px; font-family:宋体,Arial,Verdana; border:none 0; color:#000; 
	display:block; overflow:hidden; background-image:url("../imgs/common/button/icon_gis.png"); background-repeat:no-repeat; _background-image:url("../imgs/common/button/icon_gis.png");}

.menu-plan{background:url("../imgs/common/button/icon_gis.png") 0 0;}
.menu-genban{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-25px 0;}
.menu-zhiban{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-50px 0;}
.menu-tianchen{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-75px 0;}
.menu-xiaxianchang{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-100px 0;}
.menu-baobao{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-125px 0;}

.menu-yuan{background-image:url("../imgs/common/button/icon_gis.png"); background-position:0 -22px;}
.menu-liucheng{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-25px -22px;}
.menu-chuli{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-50px -22px;}
.menu-wuzhi{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-75px -22px;}
.menu-jilu{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-100px -22px;}
.menu-tongxunlu{background-image:url("../imgs/common/button/icon_gis.png"); background-position:-125px -22px;}


.btnc30 i{margin-top:4px;}

/*图片按钮*/
.imgbtn,.imgbtn-bg{height:22px; padding:0; line-height:22px; font-family:宋体,Arial,Verdana; border:none 0; text-align:center; color:#000; 
	text-decoration:none; display:inline-block; cursor:pointer; background:none;}
.imgbtn span,.imgbtn-bg span{margin:0; margin-left:-3px; padding:2px 5px 0 0; line-height:20px; font-family:宋体,Arial,Verdana; border:none 0; color:#000; 
	display:inline-block; background:none;}
	
.imgbtn-bg{background:url("../imgs/common/button/btn.png") no-repeat 0 -30px;}
.imgbtn-bg span{background:url("../imgs/common/button/btn.png") no-repeat right 0;}

.imgbtn i,.imgbtn-bg i{margin:0; padding:0; float:left;}
.imgbtn:hover,.imgbtn-bg:hover{background:url("../imgs/common/button/btn.png") no-repeat 0 -90px;}
.imgbtn:hover span,.imgbtn-bg:hover span{background:url("../imgs/common/button/btn.png") no-repeat right -60px;}

.lbl-warning{border:solid 1px #fc0; background:#fffff7 url("../imgs/common/icon/warning.png") no-repeat 5px 4px; padding:2px 5px 1px 25px; line-height:20px; overflow:hidden; display:inline-block;}
.lbl-error{border:solid 1px #fd9; background:#fff9ed url("../imgs/common/icon/error.png") no-repeat 5px 4px; padding:2px 5px 1px 25px; line-height:20px; overflow:hidden;display:inline-block;}
.lbl-success{border:solid 1px #67bf62; background:#edf8f0 url("../imgs/common/icon/success.png") no-repeat 5px 4px; padding:2px 5px 1px 25px; line-height:20px; overflow:hidden;display:inline-block;}
.lbl-disabled{border:solid 1px #fd9; background:#fff9ed url("../imgs/common/icon/disabled.png") no-repeat 5px 4px; padding:2px 5px 1px 25px; line-height:20px; overflow:hidden;display:inline-block;}
.lbl-prompt{}

.arrow-large-down{width:16px;height:16px;background:url("../imgs/common/icon/arrow/arrow_large_down.png") no-repeat center;}

/*编辑页面样式*/
.pageTop{height:24px; border-bottom:solid 1px #99bbe8; line-height:24px; clear:both; overflow:hidden;
	background:#dbebfe url("../imgs/common/title/title_bg.png") repeat-x 0 -96px; text-indent:5px;}
.pageTop .title{float:left; margin-left:5px;}
.pageTop .tools{float:right; margin-right:5px;}
.pageTop .prompt{float:left; color:#f00; line-height:20px; margin-left:20px; padding:2px 5px 1px 20px;
                 background:url("../imgs/common/icon/warning.png") no-repeat 5px 4px; 
                 *padding:2px 5px 1px 0; _padding:2px 5px 1px 0; *text-indent:20px; _text-indent:20px;}

.pageBody{background:#fff; overflow:auto;}

.pageContent{padding:0; overflow:auto;}
.pageContent .form{padding:5px;}

.pageBottom{height:24px; border-top:solid 1px #99bbe8; line-height:24px; clear:both; overflow:hidden; padding:2px 0 1px; display:block;
    background:#dbebfe url("../imgs/common/title/title_bg.png") repeat-x 0 -96px; position:absolute; bottom:0; left:0; width:100%;}

.formBottom{height:26px;background:#dbebfe url("../imgs/common/title/title_bg200.png") repeat-x;}

.pageTop .lbl-warning,.pageTop .lbl-error,.pageTop .lbl-success,.pageTop .lbl-disabled
{
	border:none; padding:2px 5px 2px 25px; position:absolute; top:0; left:0; width:100%;
	*padding:2px 5px 1px 0; _padding:2px 5px 1px 0; *text-indent:25px; _text-indent:25px;
}

.pageBottom .lbl-warning,.pageBottom .lbl-error,.pageBottom .lbl-success,.pageBottom .lbl-disabled
{
	border:none; background-color:transparent; padding:2px 5px 2px 25px; position:absolute; bottom:2px; left:0; width:auto; 
	*padding:2px 5px 1px 0; _padding:2px 5px 1px 0; *text-indent:25px; _text-indent:25px;
}

.pageTop .btn,.pageBottom .btn{margin:1px 0 0 0;}
.pageTop .title .btn,.title .ibtn{margin-right:3px; margin-top:1px;}
.pageTop .tools .btn,.pageTop .tools .ibtn{margin-left:3px; margin-top:1px;}


.loading-win{ display:block; overflow:hidden; height:30px; line-height:30px;}
.loading-win .loading-left{float:left; display:block; overflow:hidden; width:5px; height:30px; background:url("../imgs/common/form/loading_bg.png") no-repeat;}
.loading-win .loading-text{float:left; display:block; overflow:hidden; height:30px; background:url("../imgs/common/form/loading_bg.png") repeat-x 0 -30px;}
.loading-win .loading-icon{width:16px; height:30px; display:block; float:left; margin:0 5px 0 2px; padding:0; background:url("../imgs/common/icon/loading.gif") no-repeat 0 center;}
.loading-win .loading-right{float:left; display:block; overflow:hidden; width:5px; height:30px; background:url("../imgs/common/form/loading_bg.png") no-repeat 0 -60px;}

/*加载提示*/
.div-prompt{position:absolute;left:25px; top:50px; padding:0 5px; line-height:24px; float:left; border:1px solid #fc0; background:#fffff7;}
.div-loading{position:absolute;left:25px; top:50px; z-index:99999; padding:0 5px; line-height:24px; border:1px solid #cceff5; background:#fafcfd;}


/*复选框按钮*/
.chb-label,.chb-label-nobg{height:22px; width:auto; display:inline-block; margin:1px 0 0 5px;
	background:url("../imgs/common/button/btn.png") no-repeat 0 -30px; padding:0 0 0 2px;}
.chb-label span,.chb-label-nobg span{float:left; height:21px; display:inline-block; border:none; line-height:20px; *line-height:20px; line-height:20px \9; cursor:default; 
	margin:0; padding:1px 5px 0 1px; _width:auto; background:url("../imgs/common/button/btn.png") no-repeat right 0; }
.chb-label .chb,.chb-label-nobg .chb{float:left; _width:auto; line-height:22px; padding:0; margin:4px 3px 0 3px !important; margin:4px 3px 0 3px \9 !important; *margin:4px 2px 0 3px !important;*width:14px; *height:14px; _margin:3px 3px 0 3px;}

.chb-label-nobg{background:none;margin:0; padding:0;}
.chb-label-nobg span{float:left; background:none;width:auto; height:21px; display:inline-block; text-indent:0; padding:1px 0 0 0; margin:0; border:none; line-height:20px; *line-height:20px; line-height:20px \9;}
.chb-label-nobg .chb{float:left; padding:0; margin:5px 3px 0 0 !important; margin:5px 3px 0 0 \9 !important; *margin:5px 2px 0 0 !important;*width:14px; *height:14px; _margin:4px 3px 0 0;}

.operbar .chb-label{margin-top:1px;}

/*不可用的复选框 用DIV做个样子*/
.chb-disabled{width:11px; height:11px; border:solid 1px #cac8bb; display:inline-block; overflow:hidden;}

/*无背景*/
.nobg{background:none;}
.nobg span{background:none;}
.noborder{border:none 0;}

.nomp{margin:0; padding:0;}

.reload{float:right; text-indent:0;}

.w10{width:10px;}	.w15{width:15px;}	.w20{width:20px;}	.w25{width:25px;}	.w30{width:30px;}
.w40{width:40px;}	.w50{width:50px;}	.w55{width:55px;}	.w60{width:60px;}	.w65{width:65px;}
.w70{width:70px;}	.w75{width:75px;}	.w80{width:80px;}	.w85{width:85px;}	.w90{width:90px;}
.w95{width:95px;}	.w100{width:100px;}	.w110{width:110px;}	.w115{width:115px;}	.w120{width:120px;}
.w125{width:125px;}	.w135{width:135px;}	.w150{width:150px;}	.w165{width:165px;}	.w180{width:180px;}
.w200{width:200px;}	.w220{width:220px;}	.w240{width:240px;}	.w260{width:260px;}	.w280{width:280px;}
.w300{width:300px;}	.w320{width:320px;}	.w330{width:330px;}	.w340{width:340px;}	.w350{width:350px;}
.w360{width:360px;}	.w400{width:400px;}	.w420{width:420px;}	.w450{width:450px;}	.w500{width:500px;}
.w550{width:550px;} .w600{width:600px;}	.w700{width:700px;}	.w800{width:800px;}	

.h20{height:20px;}	.h25{height:25px;}	.h30{height:30px;}	.h40{height:40px;}	.h45{height:45px;}
.h50{height:50px;}	.h60{height:60px;}	.h65{height:65px;}	.h80{height:80px;}	.h100{height:100px;}
.h120{height:120px;}	.h180{height:180px;}	.h200{height:200px;}	.h240{height:240px;}	.h300{height:300px;}
.h400{height:400px;}	

.m-5{margin:5px;}
.m-0-5{margin:0 5px;}
.m-0-3{margin:0 3px;}
.m-10{margin:10px;}
.m-0-10{margin:0 10px;}
.m-l-5{margin-left:5px;}
.m-r-5{margin-right:5px;}
.m-l-10{margin-left:10px;}
.m-r-10{margin-right:10px;}

.p-5{padding:5px;}
.p-0-5{padding:0 5px;}
.p-0-3{padding:0 3px;}
.p-10{padding:10px;}
.p-0-10{padding:0 10px;}
.p-10-0{padding:10px 0;}
.p-5-10{padding:5px 10px;}

.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}

.f-left{float:left;}
.f-right{float:right;}

/*颜色*/
.green{color:#080;}
.red{color:#f00;}
.gray{color:#999; font-style:normal;}

/*提示文字*/
.explain{color:#999;}

.b-num{padding:0 2px; color:#f00; font-weight:bold;}

/*分页标记*/
.pagination{margin:0 auto;padding:0;height:24px;line-height:24px;font-family:宋体,Arial;overflow:hidden;}
.pagination ul{margin:0;padding:0;overflow:hidden;}
.pagination li{display:inline;margin:0 3px;padding:0;overflow:hidden;}
.pagination li a{text-decoration:none;padding:0 6px;border:solid 1px #dadbdd;line-height:20px;color:#333;display:inline-block;}
.pagination li a:hover{text-decoration:none;background:#dbf1ff;border:solid 1px #7dc9fd;color:#333;}
.pagination li em{padding:0 6px;border:solid 1px #dadbdd;line-height:20px;color:#999;display:inline-block;font-style:normal;}
.pagination .pgtcls em{background:#dbf1ff;border:solid 1px #7dc9fd;color:#333;}
.pagination .pgtcls{}
.pagination .pgtls{}
.pagination .pgts{}
.pagination .pgtxts a{}
.pagination span{color:#666;}
.pagination b{margin:0 3px;font-weight:normal;}
.pagination .txtPaginationJump{width:30px;margin:0 2px;padding:0 2px;height:19px;line-height:18px;border:solid 1px #ddd;text-align:center;}

/*分页标记*/
#bodyBottom .pagination{margin:0 auto;padding:0;height:24px;line-height:24px;font-family:宋体,Arial;overflow:hidden;}
#bodyBottom .pagination li a{text-decoration:none;padding:0 6px;border:solid 1px #fff;line-height:20px;color:#333;display:inline-block;}
#bodyBottom .pagination li a:hover{text-decoration:none;background:#fff;border:solid 1px #99bbe8;color:#333;}
#bodyBottom .pagination li em{padding:0 6px;border:solid 1px #fff;line-height:20px;color:#999;display:inline-block;font-style:normal;}
#bodyBottom .pagination .pgtcls em{background:#fff;border:solid 1px #99bbe8;color:#333;}
#bodyBottom .pagination span{color:#666;}
#bodyBottom .pagination b{margin:0 3px;font-weight:normal;}
#bodyBottom .pagination .txtPaginationJump{width:30px;margin:0 2px;padding:0 2px;height:19px;line-height:18px;border:solid 1px #fff;text-align:center;}


/*树形表格*/
.treetable{border-collapse:collapse; border:solid 1px #ddd;}
.treetable td{border:solid 1px #ddd; padding:0 5px; height:22px; text-align:center;}
.treetable .tdtree{text-align:left;}
.treetable .trheader{height:24px; line-height:24px; margin:0 auto 0 5px; color:#004e98; font-weight:bold;
	background:#98c0f4 url("../imgs/common/title/title_bg.png") repeat-x 0 -24px; }

.treegrid-indent{width:16px; height: 16px; display: inline-block; position: relative;}
.treegrid-expander {width:16px; height: 16px; display: inline-block; position: relative; cursor: pointer;}
.treegrid-expander-expanded{background-image: url(../imgs/common/treegrid/collapse.png); }
.treegrid-expander-collapsed{background-image: url(../imgs/common/treegrid/expand.png);}

/*树形表格的图标*/
.otb-icon{display:inline-block;width:18px;height:18px;float:left;margin:2px 0 0;padding:0;border:none;}

/*电子地图图层*/
#mapLayer{position:absolute; right:10px; top:10px; overflow:hidden; cursor:default; z-index:9999; background:#fff; border:solid 1px #ccc;}
#mapLayer ul,li{padding:0;margin:0; line-height:20px;}
#mapLayer li{padding:0;margin:0; height:20px; line-height:20px;}
#mapLayer .title{color:#00f;}
#locationList{padding:0 5px 0 0;}
.map-layer{width:auto; height:auto; text-align:left; line-height:20px; padding:2px 5px 5px 8px;
           *width:120px; _width:120px;}
.map-layer ul{}
.map-layer .anchor{width:20px; height:20px; display:block; float:right;}
.map-layer .anchor-un{background:url("../imgs/common/toolbar/pin.png") no-repeat 0 0;}
.map-layer .anchor-on{background:url("../imgs/common/toolbar/pin.png") no-repeat 0 -20px;}
.map-layer-hide{width:20px; height:auto; *height:65px; _height:65px; line-height:16px; text-align:center;}
.map-layer-hide ul{display:none;}

.map-loading{margin:0 auto; display:block; padding:0 3px 0 23px; background:url("../imgs/common/icon/loading.gif") no-repeat 2px 2px;}



/*电子地图工具栏*/
.map-toolbar{width:auto; height:34px; overflow:hidden; clear:both; padding-left:10px; background:url("../imgs/common/navigation/nav_gray.png?1") no-repeat;}
.map-toolbar ul{overflow:hidden; width:auto; float:left; height:34px; padding-right:10px; background:url("../imgs/common/navigation/nav_gray.png?1") no-repeat right -34px;}
.map-toolbar li{display:block; float:left; height:34px; line-height:34px; padding-right:2px; background:url("../imgs/common/navigation/nav_gray.png?1") no-repeat right -136px;}

.map-toolbar li a{padding-right:5px; float:left; clear:both; display:block; height:34px; line-height:34px; background:url("../imgs/common/navigation/nav_gray.png?1") repeat-x 0 -68px;}
.map-toolbar li a:hover{height:34px; line-height:34px;background:url("../imgs/common/navigation/nav_gray.png?1") repeat-x 0 -102px;}
.map-toolbar li a i{margin-top:5px; float:left; _margin-left:-2px;}
.map-toolbar li a span{padding-left:0px; _float:left; display:block; height:35px; line-height:34px; background:none;}
.map-toolbar li a:hover span{padding-left:0px; display:block; height:34px; background:none; line-height:34px;}

#mapTools{position:absolute; right:10px; top:5px; overflow:hidden; z-index:9999; line-height:20px; padding:0;}

#mapMenu{position:absolute; left:100px; top:10px; overflow:hidden; z-index:9999;}

/*编辑器相关*/
.editor-resize{height:12px; margin:0; padding:0; border:solid 1px #cccccc; border-top:none; background:#f0f0ee;}
.editor-resize .editor-resize-h{height:12px;display:block; float:left; background:url("../imgs/common/editor/sh.gif") no-repeat center;}
.editor-resize .editor-resize-wh{width:12px;height:12px;display:block;float:right; background:url("../imgs/common/editor/swh.gif") no-repeat right bottom;}