<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings configSource="config\webs.config" />
  <connectionStrings configSource="config\db.config" />
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" maxUrlLength="8012" maxQueryStringLength="8012" useFullyQualifiedRedirectUrl="true" executionTimeout="6000" />
    <sessionState cookieless="false" mode="InProc" timeout="60" />
  </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>