<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DBConnectionString" connectionString="host=127.0.0.1;user id=root;password=123qweQWE456;database=omis;port=3306;allow zero datetime=no;charset=utf8;" providerName="Mysql" />
  <!--
  <add name="DBConnectionString" connectionString="data source=localhost;User ID=sa;pwd=okq;Initial Catalog=test;" providerName="Mssql" />
  -->
  <!--
  <add name="DBConnectionString" connectionString="Data Source=127.0.01/spcp;User ID=scott;Password=12345;" providerName="Oracle" />
  -->
  <add name="DBConnectionStringLog" connectionString="" />
</connectionStrings>