<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--郑重申明：此配置文件不可随意修改，若配置修改不当，将导致系统无法运行！-->
  <!--配置文件名称-->
  <add key="ConfigFileDir" value="/config" />
  <add key="ConfigFileName" value="webs.config" />
  <add key="NetFrameVersion" value="4.0" />
  <!--程序版本-->
  <add key="Version" value="2015.07.27" />
  <!--程序是否正在升级-->
  <add key="Upgrade" value="0" />
  <add key="UpgradeTime" value="" />
  <!--单位配置-->
  <!--单位名称，不能修改，修改此编码将会导致局施工计划无法获取-->
  <add key="UnitName" value="信阳供电段" />
  <!--单位编码，不能修改，修改此编码将会导致局施工计划无法获取-->
  <add key="UnitCode" value="XingYang" />
  <!--系统配置-->
  <add key="WebName" value="在线信息管理系统" />
  <add key="LogoImage" value="logo.png?150401113000" />
  <add key="LogoName" value="" />
  <add key="Copyright" value="版权所有 &amp;#169; 2015-{0} 在线信息管理系统" />
  <!--系统图片配置-->
  <add key="LoginBg" value="login-bg.jpg?150401112536" />
  <add key="WelcomeBg" value="welcome.jpg" />
  <add key="TopBanner" value="banner.png" />
  <add key="IndexTopBanner" value="banner-index.jpg?140816172542" />
  <!--模块是否启用选项卡模式-->
  <add key="ModuleMultiPage" value="0" />
  <!--是否允许关闭第一个加载的模块选项卡-->
  <add key="AllowFirstClose" value="0" />
  <!--选项卡页面最小数量-->
  <add key="ModuleTabMinCount" value="1" />
  <!--选项卡页面最大数量-->
  <add key="ModuleTabMaxCount" value="10" />
  <!--是否启用选项卡模式-->
  <add key="MultiPage" value="1" />
  <!--选项卡页面最小数量-->
  <add key="TabMinCount" value="0" />
  <!--选项卡页面最大数量-->
  <add key="TabMaxCount" value="20" />
  <!--选项卡标签文字显示字数（字节）-->
  <add key="TabWordMaxLength" value="20" />
  <!--是否禁用右键菜单-->
  <add key="DisabledContextMenu" value="0" />
  <!--设置表格最小宽度（为了表格不变形）-->
  <add key="SetTableMinWidth" value="1" />
  <!--数据列表默认显示行数-->
  <add key="ListPageSize" value="20" />
  <!--列表分页设置-->
  <add key="PageMarkType" value="Symbol" />
  <add key="PageMarkCount" value="10" />
  <add key="HidePageUrl" value="1" />
  <add key="ShowPageCount" value="1" />
  <add key="ShowDataCount" value="1" />
  <add key="ShowPageJump" value="1" />
  <!--是否保存用户名，0-不保存，1-保存-->
  <add key="SaveUserName" value="1" />
  <!--是否保存用户密码，0-不保存，1-保存-->
  <add key="SaveUserPassword" value="0" />
  <!--是否启用后台自动登录，0-不启用，1-启用-->
  <add key="UserAutoLogin" value="0" />
  <!--登录失败多少次启用验证码，若设置为-1表示不启用验证码-->
  <add key="LoginFailedTimes" value="3" />
  <!--登录失败多少次后锁定帐户，若设置为-1表示不锁定-->
  <add key="LoginFailedLocked" value="10" />
  <!--登录失败后锁定帐户多少时间，单位：秒，默认为15分钟-->
  <add key="LoginFailedLockedTime" value="900" />
  <!--用户登录COOKIE有效时间，单位：分钟，默认为1440分钟（1天）-->
  <add key="UserLoginCookieExpireTime" value="1440" />
  <!--检测用户登录状态最大有效期时间（超出时间将强制登出），单位：分钟，-1表示不检测有效期-->
  <add key="UserLoginStatusMaxExpireTime" value="-1" />
  <!--是否检测用户帐户有效期，0-不检测，1-检测（当登录用户有效期超出时将无法登录）-->
  <add key="CheckUserExpireTime" value="1" />
  <!--是否启用用户自定义首页，0-不启用，1-启用-->
  <add key="EnabledUserCustomHome" value="0" />
  <!--是否启用密码闪现效果（仿手机密码输入效果），1-启用，0-不启用-->
  <add key="EnabledPasswordFlash" value="0" />
  <!--系统管理员（非超级管理员）是否可以控制“系统设置”模块中的设置功能-->
  <add key="AdminEnabledControlSystemConfig" value="0" />
  <!--是否验证数据来源-->
  <add key="ValidateUrlReferrer" value="0" />
  <!--是否验证表单提交方式-->
  <add key="ValidateRequestType" value="1" />
  <!--是否验证表单请求令牌-->
  <add key="ValidateRequestToken" value="0" />
  
  <!--以下内容请不要修改，若修改可能会导致网站运行不正常-->
  <add key="LoginUrl" value="/login.aspx" />
  <add key="HomeUrl" value="/default.aspx" />
  <add key="ModuleUrl" value="/module.aspx" />
  <add key="UserNoAuth" value="include/noauth.aspx" />
  <!--上传文件的存放目录-->
  <add key="UploadFileDir" value="/upfiles" />
  
  <!-- 日志文件大小，单位：M -->
  <add key="LogFileSize" value="10" />
  <!--日志配置开始-->
  <add key="ErrorLogDir" value="/log/error/" />
  <add key="EventLogDir" value="/log/event/" />
  <add key="DebugLogDir" value="/log/debug/" />
  <add key="SaveErrorLog" value="1" />
  <add key="SaveEventLog" value="1" />
  <add key="SaveDebugLog" value="1" />
  <add key="LogKeepDays" value="3" />
  <!--日志配置结束-->
  <!--GIS地图配置开始-->
  <add key="CenterLatLng" value="{lat:32.13924, lng:114.06560, zoom:4, name:'信阳供电段'}" />
  <!--GIS地图配置结束-->
</appSettings>