<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <appSettings>
    <add key="ZyrhSensor.sensor" value="http://122.227.179.90:81/ws/sensor.asmx"/>
    <add key="ZyrhSensor1.sensor" value="http://localhost:81/ws/sensor.asmx"/>
  <add key="ZyrhGprs.gprs" value="http://122.227.179.90:81/ws/gprs.asmx"/>
  </appSettings>
</configuration>